*{
    padding: 0;
    margin: 0;
}
ul, li {
    list-style-type: none;
    font-size: 20px;
}
nav ul{
    display: flex;
   
}

a {
    text-decoration: none;
}

header {
    display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1180px;
 margin: 0 auto;
}

nav .middle{
    margin: 0 121px;
}

.active-link {
    color:#F50808;
}

article {
    margin-top: 120px;
    margin-left: 130px;
    color: ;
}

.cars {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 439px;
    background-color: #EBEBF0;
    /* max-width: 1440px; */
}

.blue-car {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: #19126B;
    display: flex;
    height: 161px;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    /* max-width: 1440px; */
}

footer ul{
    display: flex;
   
}

.youtube{
    margin-left: 20px;
    margin-right: 20px;
}

footer p{
    color:#FFFFFF;
    font-size: 16px;

}

main {
    height: 516px;
    background-color: #EBEBF0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main h2{
    color:#19126B;
font-size: 36px;
margin-bottom: 24px;
}

main p{
    font-size: 18px;
    color: #090346;
    line-height: 24.2px;
    
}

main div{
    padding: 130px;
    /* max-width: 1180px; */
}

main figure {
    padding-right: 130px;
}

.mainpageh1 {
    color:  #17326E;
    font-size: 36px;

}

.text {
margin-top: 24px;
margin-bottom: 120px;
font-size: 20px;
color: #090346;
}

article h1{
    color: #19126B;
    font-size: 36px;

}

section{
    display: flex;
    height: 546px;
    background-color: #EBEBF0;
    justify-content: space-between;
    /* align-items: center; */
    padding-top:78px;
padding-left: 130px;
font-size: 20px;
}

section h2 {
    color: #19126B;
font-size: 36px;
padding-top: 78px;
margin-bottom: 24px;

}

section span {
    color:#0D69A9
}

address {
    font-style: normal;
}

.maps {
    padding-top: 78px;
    padding-right: 130px;
}